.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/wine-tasting.jpeg');
  background-color: rgba(0, 0, 0, 0.7);
}

.blackBox {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0% 5% 5% 5%;
  width: 90%;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  color: orange;
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.hyperlink {
  color: yellow;
  text-decoration: underline;
}
